body {
  min-width: 275px;
  overflow-x: hidden;
}

#reader {
  border: 1px solid black;
  font-size: 20pt;
  height: 15px;
  line-height: 15px;
  margin-left: 17px;
  padding: 20px;
  position: relative;
  width: 200px;
}

#reader::before, #reader::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  height: 10px;
  background-color: black;
  width: 2px;
  top: 0;
}

#reader::after {
  top: auto;
  bottom: 0;
}

#readout {
  margin-top: 10px;
}

#progressbar {
  height: 15px;
  margin: 10px;
}

#word {
  position: absolute;
}

.highlight {
  color: #c00;
}
