#speedReaderBox {
  border: 1px solid black;
  font-size: 20pt;
  height: 15px;
  line-height: 15px;
  margin-left: 17px;
  padding: 20px;
  position: relative;
  width: 200px;
}

#speedReaderBox::before, #speedReaderBox::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  height: 10px;
  background-color: black;
  width: 2px;
  top: 0;
}

#speedReaderBox::after {
  top: auto;
  bottom: 0;
}

#speedReaderWord {
  position: absolute;
}

#speedReaderHighlight {
  color: #c00;
}

#speedReaderSpeedPanel {
  margin: 5px 0 5px 15px;
}

#speedReaderSpeedPanel span {
  display: inline-block;
}

#speedReaderDashboard {
  border-top: 1px solid black;
  font-size: 12px;
  padding-top: 5px;
}

#speedReaderBackground {
  opacity:    0.7;
  background: #000;
  width:      100%;
  height:     100%;
  z-index:    13;
  top:        0;
  left:       0;
  position:   fixed;
}
