#speedReaderBox {
  border: 1px solid black;
  font-size: 20pt;
  height: 15px;
  line-height: 15px;
  margin-left: 17px;
  padding: 20px;
  position: relative;
  width: 200px;
}

#speedReaderBox::before, #speedReaderBox::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  height: 10px;
  background-color: black;
  width: 2px;
  top: 0;
}

#speedReaderBox::after {
  top: auto;
  bottom: 0;
}

#speedReaderWord {
  position: absolute;
}

#speedReaderHighlight {
  color: #c00;
}

#speedReader .panel {
  vertical-align: bottom;
  display: inline-block;
  background-color: pink;
  height: 50px;
  width: 150px;
}

#speedReader .panel div {
  display: inline-block;
}

#speedReader #speedPanel span {
  display: block;
}
